<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/home-page.css" />
    <title>Document</title>
  </head>
  <body>
    <div id="container">
      <h2>Witaj <%= username %></h2>
      <div id="wallet">
        <div>Portfel: <%=walletAmount%>$</div>
        <div class="buttons">
          <button class="btn" id="showPaymentForm">Doładuj portfel</button>
          <form action="/user/logout" method="POST">
            <button type="submit" class="btn">Wyloguj się</button>
          </form>
          <a class="button" href="twoje_zaklady.php">Twoje zakłady</a>
        </div>
      </div>
      <form id="paymentForm" onsubmit="onFormSubmit(event)">
        <label for="amount" class="pay-label">Podaj ilość depozytu:</label>
        <input
          type="number"
          name="amount"
          id="amount"
          class="pay-input"
          min="1"
          required
        />
        <button type="submit" class="pay-btn">Wpłać</button>
      </form>
      <table>
        <thead>
          <tr>
            <th>Mecz</th>
            <th>Obstaw</th>
          </tr>
        </thead>
        <tbody>
          <% for (let offer of offers) {%>
          <tr>
            <td><%=offer.home_team%> <span>vs</span> <%= offer.away_team %></td>
            <td>
              <button type="button" class="btn showAddForm" id=<%= offer.id%>>Obstaw</button>
            </td>
          </tr>
          <tr class="show-odd-form" id="<%= offer.id%>_tr">
            <td>
              <form>
                <table>
                  <thead>
                    <th class="form-th">Bukmacher</th>
                    <th class="form-th">Kurs (<%=offer.home_team%>)</th>
                    <th class="form-th">Kurs (remis)</th>
                    <th class="form-th">Kurs (<%= offer.away_team %>)</th>
                    <th class="form-th">Data rozpoczęcia</th>
                  </thead>
                  <tbody>
                    <% for (let bookmaker of offer.bookmakers) {%>
                    <tr>
                      <td><%=bookmaker.title%></td>
                      <td><%=bookmaker.markets[0].outcomes[0].price %></td>
                      <td><%=bookmaker.markets[0].outcomes[1].price %></td>
                      <td><%=bookmaker.markets[0].outcomes[2].price %></td>
                      <td>
                        <%= new
                        Date(offer.commence_time).toLocaleString('pl-PL'), {
                        hour: '2-digit', minute: '2-digit', second: '2-digit',
                        timeZone: 'Europe/Warsaw' } %>
                      </td>
                      <td></td>
                    </tr>
                    <% } %>
                  </tbody>
                </table>
              </form>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>

    <script>
      document.querySelectorAll(".showAddForm").forEach((button) => {
        button.addEventListener("click", (event) => {
          
          if (document.getElementById(`${button.id}_tr`).style.display === "none" || window.getComputedStyle(document.getElementById(`${button.id}_tr`)).display === 'none') {
            document.getElementById(`${button.id}_tr`).style.display = "block";
            return;
          }
          
          document.getElementById(`${button.id}_tr`).style.display = "none";
        });
      });

      document
        .getElementById("showPaymentForm")
        .addEventListener("click", (event) => {
          document.getElementById("paymentForm").style.display = "block";
        });

      const onFormSubmit = (event) => {
        console.log("test");
        const amount = document.getElementById("amount").value;
        document.getElementById("paymentForm").style.display = "none";
        console.log(amount);

        fetch("/user/payment", {
          method: "PATCH",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ amount: amount }),
        }).catch(error);
      };
    </script>
  </body>
</html>
